name: Sarif complete workflow
on:
  push:
    branches:
      - main
jobs:
  docker:
    permissions: write-all
    runs-on: self-hosted
    steps:
      # - name: Set up Docker1
      #   uses: crazy-max/ghaction-setup-docker@v3
      #   with:
      #     daemon-config: |
      #       {
      #         "debug": true,
      #         "experimental": true,
      #         "features": {
      #           "containerd-snapshotter": true
      #         }
      #       }
      # - name: Generate Dockerfile
      #   run: |
      #     echo -e "FROM alpine\nCMD ["echo", "Hello StackOverflow!"]" > Dockerfile
      #     ls
      #     pwd
      # - name: Download Qscanner
      #   run: |
      #     QSCANNER_URL=$(curl $proxy -s https://www.qualys.com/downloads/qscanner/ | grep -ai "gen_cask_artifacts" | sed 's/^.*https/https/' | sed 's/".*//')
      #     wget https://www.qualys.com/qscanner/download/v4.2.0/download_qscanner.sh
      #     ls -ltr
      #     pwd
      #     sudo bash $(pwd)/download_qscanner.sh
      # - name: Docker version
      #   run: docker info
      - name: Docker image pull
        run: sudo docker pull alpine:latest
      # - name: Docker qscanner image pull
      #   run: sudo docker pull art-hq.intranet.qualys.com:5001/qualys/internal/qscanner:4.3.0-12-dev-linux-amd64-1728887376
      # - name: Build Docker image
      #   run: |
      #     docker buildx create --use
      #     docker buildx inspect
      #     docker buildx build --file /home/runner/work/sarif/sarif/Dockerfile --platform linux/amd64,linux/arm64 -t crmtestimage:multiid --load .
      - name: List docker images
        run: sudo docker images
      - name: docker inspect
        run: |
         image_sha=$(sudo docker inspect -f '{{.Id}}' alpine:latest)
         echo "Image SHA: $image_sha"
         sudo docker history $image_sha
      # - name: save multi-arch image
      #   run: |
      #     image_sha=$(docker inspect -f '{{.Id}}' crmtestimage:multiid)
      #     echo "Image ID: $image_sha"
      #     docker save -o multiarchtest.tar $image_sha
      #     ls
      - name: Qscanner token
        run: |
          export QUALYS_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0cXVheTlpdCIsImlzcyI6InFhcyIsInBvcnRhbFVzZXJJZCI6OTM5Mzg2NSwic2VjcmV0SWQiOiI5NjQwMmRkOC1lYmE2LTQ3YTItYTUxNi01MzdjNDg1YWIzNTgiLCJxd2ViVXNlcklkIjoxNTkyMTI3LCJhdWQiOiJxYXMiLCJjdXN0b21lcklkIjo0MTQ0MzUsInVzZXJVdWlkIjoiZGE0ODg1YWItNmQ3MS00ZWEzLTgyMTYtNTg2N2RjNmIxM2M4Iiwic3Vic2NyaXB0aW9uVXVpZCI6IjcxMzAxYzRhLTk1ZWMtZDdkYy04MWE0LWY1MmMwMGU0MjIzMCIsImV4cCI6MTc0MDg3MzU5OSwic3Vic2NyaXB0aW9uSWQiOjEwNjQ4OTQsInRva2VuVHlwZSI6InN1YnNjcmlwdGlvbiIsImlhdCI6MTcxMDE1MjAwMSwianRpIjoiMjE4YjM5ZjktN2FkNC00NGYyLTgxODUtZjIxNjcxNGM1NThmIn0.xFEMnnXw3gGG1CtyYqi0JtAgNuTR2HnGhqTuAL3n5VT2G0tc8F_5toTkai0Q9Z24kbAc2XA9B4yNj2eYlfayfQ
          echo $QUALYS_ACCESS_TOKEN
      - name: Image scan through Qscanner
        run: |
         image_sha=$(sudo docker inspect -f '{{.Id}}' alpine:latest)
         # sockpath=$(sudo docker info -f '{{.DockerRootDir}}')
         # sockpath=$(echo $sockpath | awk -v srch="data" -v repl="docker.sock" '{ sub(srch,repl,$0); print $0 }')
         # echo $sockpath
         echo "sudo /home/ubuntu/Qscanner-4.3/qscanner image $image_sha  --pod CA1 --access-token eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0cXVheTlpdCIsImlzcyI6InFhcyIsInBvcnRhbFVzZXJJZCI6OTM5Mzg2NSwic2VjcmV0SWQiOiI5NjQwMmRkOC1lYmE2LTQ3YTItYTUxNi01MzdjNDg1YWIzNTgiLCJxd2ViVXNlcklkIjoxNTkyMTI3LCJhdWQiOiJxYXMiLCJjdXN0b21lcklkIjo0MTQ0MzUsInVzZXJVdWlkIjoiZGE0ODg1YWItNmQ3MS00ZWEzLTgyMTYtNTg2N2RjNmIxM2M4Iiwic3Vic2NyaXB0aW9uVXVpZCI6IjcxMzAxYzRhLTk1ZWMtZDdkYy04MWE0LWY1MmMwMGU0MjIzMCIsImV4cCI6MTc0MDg3MzU5OSwic3Vic2NyaXB0aW9uSWQiOjEwNjQ4OTQsInRva2VuVHlwZSI6InN1YnNjcmlwdGlvbiIsImlhdCI6MTcxMDE1MjAwMSwianRpIjoiMjE4YjM5ZjktN2FkNC00NGYyLTgxODUtZjIxNjcxNGM1NThmIn0.xFEMnnXw3gGG1CtyYqi0JtAgNuTR2HnGhqTuAL3n5VT2G0tc8F_5toTkai0Q9Z24kbAc2XA9B4yNj2eYlfayfQ"
         sudo env DISABLE_SBOM_UPLOAD=yes /home/ubuntu/Qscanner-4.3/qscanner image $image_sha  --pod CA1 --access-token eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0cXVheTlpdCIsImlzcyI6InFhcyIsInBvcnRhbFVzZXJJZCI6OTM5Mzg2NSwic2VjcmV0SWQiOiI5NjQwMmRkOC1lYmE2LTQ3YTItYTUxNi01MzdjNDg1YWIzNTgiLCJxd2ViVXNlcklkIjoxNTkyMTI3LCJhdWQiOiJxYXMiLCJjdXN0b21lcklkIjo0MTQ0MzUsInVzZXJVdWlkIjoiZGE0ODg1YWItNmQ3MS00ZWEzLTgyMTYtNTg2N2RjNmIxM2M4Iiwic3Vic2NyaXB0aW9uVXVpZCI6IjcxMzAxYzRhLTk1ZWMtZDdkYy04MWE0LWY1MmMwMGU0MjIzMCIsImV4cCI6MTc0MDg3MzU5OSwic3Vic2NyaXB0aW9uSWQiOjEwNjQ4OTQsInRva2VuVHlwZSI6InN1YnNjcmlwdGlvbiIsImlhdCI6MTcxMDE1MjAwMSwianRpIjoiMjE4YjM5ZjktN2FkNC00NGYyLTgxODUtZjIxNjcxNGM1NThmIn0.xFEMnnXw3gGG1CtyYqi0JtAgNuTR2HnGhqTuAL3n5VT2G0tc8F_5toTkai0Q9Z24kbAc2XA9B4yNj2eYlfayfQ --report-format sarif -o /home/ubuntu/Qscanner-4.3/sarif-reports
      # - name: Checkout repository
      #   uses: actions/checkout@v4
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: /home/ubuntu/Qscanner-4.3/sarif-reports/91ef0af61f39ece4d6710e465df5ed6ca12112358344fd51ae6a3b886634148b-Report.sarif.json
          # Optional category for the results
          # Used to differentiate multiple results for one commit
          category: my-analysis-tool
